
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');



/*----------Elements-----------*/
*{
  padding:0;
  margin:0;
}



header{
  background-color: #fff;
  height: 100vh;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  max-height: 800px;
}

footer{
  width: 100%;
  background:#000;
  padding-top: 60px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 45px;
  color: #000;
  margin-bottom: 40px;
  line-height: 68px;
  letter-spacing: 5px;
  font-weight: 700;
  text-shadow: none;
}

h2{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  color: #000;
  line-height: 68px;
  letter-spacing: 5px;
  font-weight: 400;
  text-shadow: none;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 700;
  text-shadow: none;
}

p{
  font-family: 'Roboto', sans-serif;
}

b{
  font-weight: 700;
}



hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,1);
    width: 100%;
}


/*-------------Button Styles------------------*/
.btn-primary {
    background: #fff;
    border-radius: 0!important;
    color: #000;
    margin-top: 25px;
    border: none;
    width: 200px;
    font-size: 25px;
    font-family: 'Roboto' , sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    box-shadow: 2px 2px rgba(0,0,0,.4);
}


.btn-primary:hover{
  background:#000!important;
  border-radius: 0!important;
  color: #fff;
}

.btn2{
  background:#000!important;
  border-radius: 0!important;
  color: #fff;
  margin-top: 25px;
  border:none;
  width: 200px;
  margin-bottom: 70px;
  box-shadow: 2px 2px rgba(0,0,0,.4);
  font-size: 25px;
  font-family: 'Roboto' , sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

.btn2:hover{
  background:#fff!important;
  border-radius: 0!important;
  color: #000;
}


/*---------------Navbar styles------------------*/

.topBackground {
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 26px;
}


#logo {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}


/*---Nav bar---*/
.bg-dark {
    background-color: #000!important;
    min-height: 80px;
}


/*---Nav bar Links---*/
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.nav-link {
  color: rgba(255,255,255,.5);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding-right: 20px;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color:#fff;
}

.nav-link:hover{
  color: #fff;
  font-family: 'Roboto', sans-serif;
}


/*------Heading Box------*/

.headerBottom {
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 85px;
  width: 400px;
  margin-bottom: -1px;
}



/*-------------Section One Styles------------------*/
#section1 {
    padding-top: 50px;
    height: auto;
    background: #fff;
    margin-top: -20px;
    padding-bottom: 50px;
}
#section1 p{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: #000;
    line-height: 35px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}

/*-----------Slider Styles-----------*/
.carousel-inner{
    margin-top: 20px;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


/*----------section two styles-----------*/
#section2 {
    background: #000;
    height: auto;
    padding-top: 151px;
    padding-bottom: 151px;
}


/*----------Embeded Video styles-----------*/
.youtube {
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
    background-image: url(../img/poster.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.youtube img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 0.7;
}
.youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26.0px;
  border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
  cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
  position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}


/*----------section three styles-----------*/
#section3 {
    height: auto;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
}

#section3 p{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #000;
  line-height: 35px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 20px;
}

/*----Mark Sliger Picture---*/
.mark {
    height: 408px;
    margin-top: 50px;
}

/*-----------section Four styles------------*/

#section4 {
  min-height: 500px;
  background-image: url(../img/services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 100px;
}


.svg{
  width: 200px;
}


/*----------section Five styles-----------*/
#section5 p{
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 70px;
}



/*----------Footer Styles-----------*/



.footerBackground{
  background-image: url(../img/wood.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;

}

.footerLogo {
    width: 280px!important;
    margin-right: auto;
    margin-left: auto;
}



.footerNav ul, li{
  display: inline-block;
  list-style-type: none;
}



#footer p{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 400;
}


p.copy{
  font-family: 'Roboto', sans-serif;
  font-size: 14px!important;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;
  padding:0!important;
}

#footer p, h3{
  padding-left: 50px;
}




/*-------------Media Queries------------------*/


/*---Tablet Styles---*/
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)  { 

/*---Nav Bar Links--*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}


/*---Nav Bar Icon--*/
.navbar-dark .navbar-toggler .custom-toggler{
  border-color: rgba(255,255,255,1)!important;
}

/*---Bottom header box--*/
.headerBottom {
    height: 80px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 33px;
    width: 400px;
    margin-bottom: -1px;
}

#section1 {
    padding-top: 50px;
    height: auto;
    background: #fff;
    margin-top: 0px;
    padding-bottom: 50px;
}

#section3 p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 30px;
}

.carousel-inner {
    margin-top: 10px;
    height: auto;
}

#footer p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #fff;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 400;
}

#footer p, h3 {
    padding-left: 0px;
}

.footerLogo {
    width: 280px!important;
    margin-right: auto;
    margin-left: auto;
}

}

@media only screen 
and (min-width : 375px) 
and (max-width : 667px) {

.topBackground {
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 26px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
}

#logo {
    width: 285px!important;
    margin-left: auto;
    margin-right: auto;
}

.navbar-dark .navbar-toggler .custom-toggler{
  border-color: rgba(255,255,255,1)!important;
}

.topBackground {
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 20px!important;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
    line-height: 68px;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: none;
}
  
  h2{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #000;
  line-height: 68px;
  letter-spacing: 5px;
  font-weight: 400;
  text-shadow: none;
}

h3{
  margin-top: 20px;
}


.carousel-inner {
    margin-top: 10px;
    height: auto;
}


.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}

#section1 {
    padding-top: 50px;
    min-height: 765px;
    background: #fff;
    margin-top: -20px;
    padding-bottom: 50px;
}

#section2 {
    background: #000;
    height: auto;
    padding-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.youtube {
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
    background-image: url(../img/posterSmall.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#section3 {
    background: #fff;
    padding-top: 0px;
    height: auto;
}

#section3 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 0px;
}

/*---Mark Sliger Pic---*/
.mark{
    margin-bottom: 20px;
    height: 300px;
}


/*---Footer styles---*/
#section5 p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 40px;
}

.footerLogo {
    width: 265px!important;
    margin-right: auto;
    margin-left: auto;
}

p.copy {
    font-family: 'Roboto', sans-serif;
    font-size: 8px!important;
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 15px;
}

/*--Bottom Nav Moved up to connect with logo*/

}

@media only screen 
and (min-width : 320px) 
and (max-width : 568px) {

  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #000;
    margin-bottom: 40px;
    line-height: 68px;
    letter-spacing: 5px;
    font-weight: 700;
    text-shadow: none;
}

.topBackground {
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 60px;
}

.navbar-dark .navbar-toggler .custom-toggler{
  border-color: rgba(255,255,255,1)!important;
}


  .navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-right: 2px;
    padding-left: 2px;
    text-decoration: none;
}

    #logo{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.footerLogo {
    width: 265px!important;
    margin-right: auto;
    margin-left: auto;
}

.headerBottom {
    height: 80px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 15px;
    width: 300px;
    margin-bottom: -1px;
}

#section1 {
    padding-top: 50px;
    min-height: 765px;
    background: #fff;
    margin-top: -20px;
    padding-bottom: 50px;
}

.carousel-inner {
    margin-top: 10px;
    height: auto;
}



.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255,255,255,.5);
}

#section2 {
    background: #000;
    height: auto;
    padding-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.youtube {
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
    background-image: url(../img/posterSmall.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

#section3 {
    background: #fff;
    padding-top: 0px;
    height: auto;
}

#section3 p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 0px;
}


.mark{
    margin-bottom: 20px;
    height: 300px;
}


/*------Footer Styles------*/
#section5 p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 40px;
}

p.copy {
    font-family: 'Roboto', sans-serif;
    font-size: 8px!important;
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 15px;
}

h3{
  margin-top: 20px;
}

.navbar-expand{
  margin-top: -15px;
}

#footer p, h3 {
    padding-left: 0px;
}
}


/*--Only Iphone 4's--*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .topBackground {
    background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
}

.bottomTopBackground{
   background-image: url(../img/wood.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.footerLogo {
    width: 180px;
    margin-right: auto;
    margin-left: auto;
}

.youtube {
  margin-bottom: 30px;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
  cursor: pointer;
    background-image: url(../img/posterSmall.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

}
